body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./../images/Wheat.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

@media only screen and (max-width: 300px)
{
    label.logo
    {
        display: none;
    }
}

nav
{
    background: black;
    height: 80px;
    width: 100%;
}

label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a
{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.active:hover
{
    background: gray;
    transition: .5s;
}

.linkactive
{
    background: gray;
}

.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

@media (max-width: 952px)
{
    label.logo
    {
        font-size: 1.8em;
    }
    nav ul li a
    {
        font-size: 16px;
    }
}

@media (max-width: 858px)
{
    .checkbtn
    {
        display: block;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        font-size: 20px;
    }
    nav ul li a
    {
        font-size: 20px;
    }
    a:hover,a.active
    {
        background: #39404d;
        color: white;
    }
    #check:checked ~ ul
    {
        left: 0;
    }
}
    
.banner
    {
        width: 100%;
        height: 350px;
        background: url(./../images/bannerZ.jpg) no-repeat center;
        background-size: cover;        
        animation: test 8s infinite;
    }   
@keyframes test {
    0%{
        background: url(./../images/bannerZ.jpg) no-repeat center;
        background-size: cover;
    

    }
    25% {
        background: url(./../images/Case_Magnum.jpg) no-repeat center;
        background-size: cover;
    
    }
    50% {
        background: url(./../images/Fendt105022.png) no-repeat center;
        background-size: cover;
        
    }
    75% {
        background: url(./../images/Fendt115022.png) no-repeat center;
        background-size: cover;
    }
}

.main
    {
        width: 50%;
        float: left;
        color: white;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
.aside
    {
        width: 50%;
        color: white;
        float: right;
    }
    
.article 
    {
        width: 750px;
        Border: 4px solid white;
        Float: left;
        Padding: 0 ;
        height: auto;
        background-color: black;
    }
    
.aside a 
    {
        text-decoration: none;
        color: white;
        margin-left: 50px;
    }

.aside a img
    {
        width:200px !important;   
        border:4px solid white;
        margin-top: 15px;
        margin-right: -20px;
        padding: 20px;
        background-color: black;
    }
    
.aside a:hover 
    {
        font-size:20px;
        font-weight:bold;
    }
    
.text
    {
        font-size: 20px;
    }   
    
    .wrapper
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-weight: bold;
		text-align: center;
	} 

	.wrapper > *
	{
		padding-bottom: 1em;
		flex-grow: 1;
		flex-basis: 100%;
	}

    @media only screen and (max-width: 599px) {
        .flex {
            gap: 15px;
        }
        .aside {
            all: unset;
            gap: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        aside > * {
            margin: 0;
            padding: 0;
        }
        .aside a {
            margin-left: 0;
        }
        .main {
           width: 100%;
           height: auto;
        }
        .article
        {
            width: 90%;
            margin: 0;
        }
        .obrazek
        {
            width: 80% !important;
            height: auto !important;
        }
    }
	@media only screen and (min-width: 600px)
	{
		.main
		{
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
            width: 50%;
            float: 50%;
            display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}

		.aside
		{
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
            width: 50%;
            float: left;
            display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}
	}

	@media only screen and (min-width: 800px)
	{
		aside:nth-child(3)
		{
			order: 1;
		}

		.main
		{
			order: 2;
		}

		aside:nth-child(4)
		{
			order: 3;
		}
	}

    .obrazek 
    {
        margin: -15 10px;
        width: 300px;
        height: 300px;
    }

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
    